.aboutSection {
  padding: 150px 0 0 0;
  &-wrapper {
    display: flex;
  }

  &-image {
    width: 50%;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      width: 130px;
      height: 260px;
      background-image: url("../images/aboutSection/dotBack.svg");
      top: 110px;
      right: 100px;
    }
    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      width: 130px;
      height: 260px;
      background-image: url("../images/aboutSection/dotBack.svg");
      bottom: 150px;
      left: -70px;
    }
  }
  &-content {
    width: 50%;
    margin: 40px 0 0 20px;
    p {
      width: 515px;
      height: 72px;
      margin: 50px 0 50px;
      font-size: 16px;
      line-height: 30px;
      color: #848484;
      font-weight: 400;
    }
  }
}
