.hero {
  padding: 200px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    padding: 150px 0 30px 0;
  }

  &-bg {
    &-1 {
      position: absolute;
      width: 80vw;
      top: -30vw;
      left: -35vw;
      img {
        width: 100%;
      }
    }
    &-2 {
      position: absolute;
      width: 80vw;
      top: -25vw;
      left: -35vw;
      img {
        width: 100%;
      }
    }
  }
}
