.scheduleSection {
  padding: 150px 0px 150px;
  &-title {
    text-align: center;
  }
  &-wrapper {
    &-button {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      .btn {
        padding: 20px 50px 20px;
        border-radius: 50px;
        font-size: 28px;
        line-height: 30px;
        font-weight: 700;
        span {
          font-size: 15px;
          line-height: 22px;
          font-weight: 400;
        }
      }
    }
    &-event {
      &-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 40px 0px;
        border-bottom: 1px solid #e8ebea;
        transition: 0.4s ease;
        overflow: hidden;
        animation: fadeEffect 0.4s; /* Fading animation */
        &-time {
          width: 8%;
          font-size: 24px;
          line-height: 36px;
          color: #1edac6;
          font-weight: 700;
        }
        &-person {
          width: 12%;
          padding: 40px;
          img {
            border-radius: 50%;
          }
          h4 {
            font-size: 18px;
            line-height: 36px;
            font-weight: 500;
          }
          span {
            font-size: 15px;
            line-height: 36px;
            color: $gray;
            font-weight: 400;
          }
        }
        &-detail {
          width: 40%;
          padding: 40px;
          position: relative;
          h4 {
            margin: 0 40px 0;
            font-size: 24px;
            line-height: 32px;
            color: #212639;
            font-weight: 500;
          }
          &::before {
            position: absolute;
            content: "";
            background-color: #e8ebea;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            width: 1px;
            height: 50%;
            z-index: 2;
          }
          &::after {
            position: absolute;
            content: "";
            background-color: #e8ebea;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            width: 1px;
            height: 50%;
            z-index: 2;
          }
        }
        &-link {
          margin: auto;
          padding: 50px 40px 50px;
          .btn {
            transition: 0.4s ease;
          }
        }
        &:first-child {
          border-top: 1px solid #e8ebea;
        }
        &:hover {
          border-radius: 10px;
          box-shadow: 0px 20px 25px rgba(8, 13, 62, 0.1);
          border-bottom: 1px solid white;
          position: relative;
          .btn {
            background-color: $primary-color;
            color: white;
            border-color: $primary-color;
            box-shadow: 0px 20px 25px rgba(238, 109, 122, 0.308);
          }
          &::before {
            position: absolute;
            content: "";
            width: 449px;
            height: 456px;
            background-image: url("../images/scheduleSection/hoverBack1.svg");
            z-index: 2;
          }
          &::after {
            position: absolute;
            content: "";
            width: 449px;
            height: 456px;
            background-image: url("../images/scheduleSection/hoverBack2.svg");
          }
        }
      }
    }
  }
}
