.sponsorsSection {
  padding: 150px 0px 150px;
  background-color: $body-color-2;
  &-wrapper {
    display: flex;
    &-catagoryTab {
      font-weight: 500;
      ul {
        padding: 0px;
        margin: 0px;
        li {
          list-style: none;
          font-size: 20px;
          line-height: 36px;
          &.active {
            position: relative;
            padding-left: 45px;
            color: $primary-color;
            &::before {
              position: absolute;
              content: "";
              width: 30px;
              height: 2px;
              background-color: $primary-color;
              left: 0px;
              top: 50%;
              transform: translateX(-50%);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    &-logo {
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: auto auto;
      margin: 0px 80px 0px;
      &-item {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        transition: 0.6s ease;
        &.active {
          box-shadow: 0px 20px 25px rgba(8, 13, 62, 0.2);
        }
      }
    }
  }
}
