.topics {
  background-color: #f5f7f7;
  padding: 100px 0px 100px;
  &-title {
    text-align: center;
    margin: auto;
  }

  &-wrapper {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 31.33% 31.33% 31.33%;
    .card {
      position: relative;
      background-color: white;
      border-top: 5px solid white;
      padding: 25px 30px 30px;
      border-radius: 10px;
      transition: 0.4s ease;
      h3 {
        color: $text-color;
        margin: 30px 0;
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
      }
      p {
        color: $gray;
        width: 287px;
        height: 72px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 40px;
      }
      a {
        font-size: 15px;
        line-height: 50px;
        font-weight: 500;
        text-decoration: none;
      }
      &::after {
        content: "";
        position: absolute;
        right: 15px;
        bottom: 15px;
        width: 20px;
        height: 20px;
        z-index: 1;
      }
      &:nth-child(3n-2) {
        a {
          color: $accent-color;
        }
        &::after {
          background-image: url("../images/card/triangle1.svg");
        }
        &:hover {
          border-top: 5px solid $accent-color;
        }
      }
      &:nth-child(3n-1) {
        a {
          color: $secondary-color;
        }
        &::after {
          background-image: url("../images/card/triangle2.svg");
        }
        &:hover {
          border-top: 5px solid $secondary-color;
        }
      }
      &:nth-child(3n) {
        a {
          color: $primary-color;
        }
        &::after {
          background-image: url("../images/card/triangle3.svg");
        }
        &:hover {
          border-top: 5px solid $primary-color;
        }
      }
    }
  }
}
