<section class="aboutSection">
  <div class="container">
    <div class="aboutSection-wrapper">
      <div class="aboutSection-image">
        <img src="images/aboutSection/people.png" />
      </div>
      <div class="aboutSection-content">
        <h4 data-text="CONFERENCE" class="section-title-left">
          About Conference
        </h4>
        <h2 class="section-title-big">World bigest digital conference.</h2>
        <p>
          Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt
          labore et dolore magna aliqua enim ad minim veniam quis nostrud
          exercitation ullamco laboris nisi ut aliquip exea commodo.
        </p>
        <a href="#" class="btn btn-primary">CONTACT US</a>
      </div>
    </div>
  </div>
</section>
