<section class="blogSection">
  <div class="container">
    <div class="blogSection-title">
      <h4 data-text="ARTICLES" class="section-title-center">LATEST NEWS</h4>
      <h2 class="section-title-big">Stay Updated With Uniox</h2>
    </div>
    <div class="blogSection-wrapper">
      <div class="card">
        <div class="card-image">
          <img src="../images/blogSection/pic1.png" />
        </div>
        <div class="card-content">
          <div class="card-content-tag">LIFESTYLE</div>
          <h3>Ready or Not, The Return of The Hobo Bag</h3>
          <span>By Mama Mia-29 May, 2020</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
            dolorum.
          </p>
          <a href="#" class="btn btn-white">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="../images/blogSection/pic2.png" />
        </div>
        <div class="card-content">
          <div class="card-content-tag">LIFESTYLE</div>
          <h3>Biebers Just Switched Up Style.</h3>
          <span>By Mama Mia-29 May, 2020</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
            dolorum.
          </p>
          <a href="#" class="btn btn-white">READ MORE</a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <img src="../images/blogSection/pic3.png" />
        </div>
        <div class="card-content">
          <div class="card-content-tag">LIFESTYLE</div>
          <h3>Anna Wintour Shares Her Milan Fashion.</h3>
          <span>By Mama Mia-29 May, 2020</span>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
            dolorum.
          </p>
          <a href="#" class="btn btn-white">READ MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
