<section class="counterSection">
  <div class="container">
    <div class="counterSection-wrapper">
      <div class="counterSection-title">Count every second until the event</div>
      <div class="counterSection-clock">
        <div
          class="counterSection-time"
          id="fixedTime"
          data-count="December 01, 2020 10:30:30 GMT+06:00"
        >
          <div class="counterSection-time-item">
            <div class="counterSection-time-item-number" id="Days">08</div>
            <div class="counterSection-time-item-word">Days</div>
          </div>
          <img src="images/counterSection/colon.svg" />
          <div class="counterSection-time-item">
            <div class="counterSection-time-item-number" id="Hours">08</div>
            <div class="counterSection-time-item-word">Hours</div>
          </div>
          <img src="images/counterSection/colon.svg" />
          <div class="counterSection-time-item">
            <div class="counterSection-time-item-number" id="Minutes">08</div>
            <div class="counterSection-time-item-word">Minutes</div>
          </div>
          <img src="images/counterSection/colon.svg" />
          <div class="counterSection-time-item">
            <div class="counterSection-time-item-number" id="Seconds">08</div>
            <div class="counterSection-time-item-word">Seconds</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
