<section class="footerSection">
  <div class="container">
    <div class="footerSection-wrapper">
      <div class="footerSection-pages">
        <a href="#">HOME</a>
        <a href="#">SPEAKERS</a>
        <a href="#">PAGES</a>
        <a href="#">SHEDULE</a>
        <a href="#">SPONSERS</a>
        <a href="#">BLOG</a>
      </div>
      <div class="footerSection-logo">
        <div class="image1">
          <img src="images/favicon.svg" alt="" />
        </div>
        <div class="image2">
          <img src="images/uniox2.png" alt="" />
        </div>
      </div>
      <div class="footerSection-social">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="footerSection-bottom">
        Copyright © 2020 <span>uniox</span>. All Rights Reserved.
      </div>
    </div>
  </div>
</section>
