<section class="hero">
  <div class="hero-bg-1"><img src="images/hero/Ellipse-1.svg" alt="" /></div>
  <div class="hero-bg-2"><img src="images/hero/Ellipse-2.png" alt="" /></div>
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <div class="date">May 10, 2020</div>
        <h1>
          Join Us<br />
          At
          <span
            >Marketing<br />
            Technology</span
          >
          Expo
        </h1>
        <ul>
          <li>
            <a href="#" class="btn btn-primary">CONTACT US</a>
          </li>
          <li>
            <a href="#" class="btn btn-white">BUY TICKET</a>
          </li>
        </ul>
      </div>
      <div class="hero-image">
        <img src="images/hero/Speaker.png" />
        <div class="text-box">
          <h4>2020</h4>
          <div class="text">Tech Conference Australia.</div>
        </div>
      </div>
    </div>
  </div>
</section>
