<section class="locationSection">
  <div class="container">
    <div class="locationSection-top">
      <div class="locationSection-top-title">
        <h4 data-text="LOCATION" class="section-title-left">LOCATION</h4>
        <h2 class="section-title-big">Event Location</h2>
      </div>
      <div class="locationSection-top-button">
        <div class="locationSection-top-button-wrap">
          <a
            class="btn btn-white maplinks"
            id="defaultOpen3"
            onclick="openMap(event, 'Venue')"
          >
            The Venue
          </a>
          <a
            class="btn btn-white maplinks"
            onclick="openMap(event, 'Transport')"
          >
            Transport
          </a>
        </div>
      </div>
    </div>
    <div id="Venue" class="locationSection-map mapcontent">
      <div class="locationSection-map-content">
        <div class="locationSection-map-content-image">
          <img src="images/locationSection/venue.svg" alt="icon" />
        </div>
        <div class="locationSection-map-content-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure
          deleniti id ex vero veniam sit aspernatur officiis soluta obcaecati?
        </div>
        <div class="locationSection-map-content-address">
          <span>Address:</span>3rd St, San Francisco, CA 94103-3106
        </div>
        <div class="locationSection-map-content-address">
          <span>Email:</span>contact@uniox.com
        </div>
      </div>
      <div class="locationSection-map-api"></div>
    </div>
    <div id="Transport" class="locationSection-map mapcontent">
      <div class="locationSection-map-content">
        <div class="locationSection-map-content-image">
          <img src="images/locationSection/transport.svg" alt="icon" />
        </div>
        <div class="locationSection-map-content-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iure
          deleniti id ex vero veniam sit aspernatur officiis soluta obcaecati?
        </div>
        <div class="locationSection-map-content-address">
          <span>Address:</span>3rd St, San Francisco, CA 94103-3106
        </div>
        <div class="locationSection-map-content-address">
          <span>Email:</span>contact@uniox.com
        </div>
      </div>
      <div class="locationSection-map-api"></div>
    </div>
  </div>
</section>
