<section class="priceSection">
  <div class="container">
    <div class="priceSection-wrapper">
      <div class="priceSection-title">
        <h4 data-text="PACKAGE" class="section-title-left">PACKAGE</h4>
        <h2 class="section-title-big">Ticket Packaging</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur
          et dolor ratione quas aliquam ipsum ad corporis ipsam eaque
          voluptatem.
        </p>
        <a href="#" class="btn btn-primary">CONTACT US</a>
      </div>
      <div class="priceSection-package">
        <div class="priceSection-package-item">lol</div>
        <div class="priceSection-package-item">lol</div>
        <div class="priceSection-package-item">lol</div>
        <div class="priceSection-package-item">lol</div>
      </div>
    </div>
  </div>
</section>
