<section class="scheduleSection">
  <div class="container">
    <div class="scheduleSection-title">
      <h4 data-text="SCHEDULE" class="section-title-center">TIME TABLE</h4>
      <h2 class="section-title-big">Conference Schedule</h2>
    </div>
    <div class="scheduleSection-wrapper">
      <div class="scheduleSection-wrapper-button">
        <ul>
          <li
            class="btn btn-white tablinks"
            onclick="openSchedule(event, '1')"
            id="defaultOpen1"
          >
            DAY 1<br />
            <span>Monday, 10 May 2020</span>
          </li>
          <li class="btn btn-white tablinks" onclick="openSchedule(event, '2')">
            DAY 2<br />
            <span>Tuesday, 11 May 2020</span>
          </li>
          <li class="btn btn-white tablinks" onclick="openSchedule(event, '3')">
            DAY 3<br />
            <span>Wednesday, 12 May 2020</span>
          </li>
        </ul>
      </div>
      <div id="1" class="scheduleSection-wrapper-event tabcontent">
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">07:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic4.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">08:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic2.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">09:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic3.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">10:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic4.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
      </div>
      <div id="2" class="scheduleSection-wrapper-event tabcontent">
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">07:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic3.png" />
            <h4>Ulala Ulala</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">08:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic2.png" />
            <h4>Ulala Ulala</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">09:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic3.png" />
            <h4>Ulala Ulala</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">10:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic4.png" />
            <h4>Ulala Ulala</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
      </div>
      <div id="3" class="scheduleSection-wrapper-event tabcontent">
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">07:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic1.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">08:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic2.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">09:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic3.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
        <div class="scheduleSection-wrapper-event-item">
          <div class="scheduleSection-wrapper-event-item-time">10:30</div>
          <div class="scheduleSection-wrapper-event-item-person">
            <img src="../images/scheduleSection/pic4.png" />
            <h4>Mithila Sorowar</h4>
            <span>Designer</span>
          </div>
          <div class="scheduleSection-wrapper-event-item-detail">
            <h4>Clients in Control Building Demand Driven.</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              inventore animi consectetur.
            </p>
          </div>
          <div class="scheduleSection-wrapper-event-item-link">
            <a class="btn btn-white">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
