<section class="speakerSection">
  <div class="container">
    <div class="speakerSection-title">
      <div class="speakerSection-title-text">
        <h4 data-text="SPEAKERS" class="section-title-left">SPEAKERS</h4>
        <h2 class="section-title-big">Meet Our Speakers</h2>
      </div>
      <div class="speakerSection-title-button">
        <a href="#" class="btn btn-primary">VIEW ALL SPEAKER</a>
      </div>
    </div>
    <div class="speakerSection-wrapper">
      <div class="team">
        <div class="team-image">
          <img src="images/speakerSection/pic1.png" />
          <div class="social">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-content">
          <h4>Mami Mia</h4>
          <span>Marketing Manager</span>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
      <div class="team">
        <div class="team-image">
          <img src="images/speakerSection/pic2.png" />
          <div class="social">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-content">
          <h4>Kaka Mia</h4>
          <span>Hacker Man</span>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
      <div class="team">
        <div class="team-image">
          <img src="images/speakerSection/pic3.png" />
          <div class="social">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-content">
          <h4>Kaki Mia</h4>
          <span>Hacker women</span>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
      <div class="team">
        <div class="team-image">
          <img src="images/speakerSection/pic4.png" />
          <div class="social">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="team-content">
          <h4>Mama Mia</h4>
          <span>UI/UX Designer</span>
          <p>Lorem ipsum, dolor sit amet consectetur</p>
        </div>
      </div>
    </div>
  </div>
</section>
