<section class="sponsorsSection">
  <div class="container">
    <div class="sponsorsSection-wrapper">
      <div class="sponsorsSection-wrapper-catagoryTab">
        <h4 data-text="SPONSORS" class="section-title-left">SPONSORS</h4>
        <h2 class="section-title-big">Official Sponsors</h2>
        <ul>
          <li
            class="sponsorsLink"
            onclick="showSponsors(event, 'platinum')"
            id="defaultOpen2"
          >
            Platinum Sponsors
          </li>
          <li class="sponsorsLink" onclick="showSponsors(event, 'gold')">
            Gold Sponsors
          </li>
          <li class="sponsorsLink" onclick="showSponsors(event, 'silver')">
            Silver Sponsors
          </li>
        </ul>
      </div>
      <div class="sponsorsSection-wrapper-logo">
        <div class="sponsorsSection-wrapper-logo-item sponsorslogo gold">
          <img src="images/sponsorsSection/logo1.png" />
        </div>
        <div class="sponsorsSection-wrapper-logo-item sponsorslogo platinum">
          <img src="images/sponsorsSection/logo2.png" />
        </div>
        <div class="sponsorsSection-wrapper-logo-item sponsorslogo platinum">
          <img src="images/sponsorsSection/logo3.png" />
        </div>
        <div class="sponsorsSection-wrapper-logo-item sponsorslogo silver">
          <img src="images/sponsorsSection/logo4.png" />
        </div>
        <div class="sponsorsSection-wrapper-logo-item sponsorslogo silver">
          <img src="images/sponsorsSection/logo5.png" />
        </div>
        <div class="sponsorsSection-wrapper-logo-item sponsorslogo platinum">
          <img src="images/sponsorsSection/logo6.png" />
        </div>
      </div>
    </div>
  </div>
</section>
