<section class="testimonialSection">
  <div class="container">
    <div class="testimonialSection-title">
      <h4 data-text="CLIENT SAY" class="section-title-center">TESTIMONIA</h4>
      <h2 class="section-title-big">What Client Say About Us</h2>
    </div>
    <div class="testimonialSection-quote">
      <div class="testimonialSection-quote-item">
        <div class="testimonialSection-quote-item-wrap">
          <div class="testimonialSection-quote-item-image">
            <img src="images/testimonialSection/pic2.png" />
          </div>
          <div class="testimonialSection-quote-item-text">
            <q>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus rerum culpa, totam inventore dolor cumque at hic ut
              eveniet delectus eum natus rem!
            </q>
            <h4>Bosu Mia</h4>
            <span>Lead Speaker</span>
          </div>
        </div>
      </div>
      <div class="testimonialSection-quote-item">
        <div class="testimonialSection-quote-item-wrap">
          <div class="testimonialSection-quote-item-image">
            <img src="images/testimonialSection/pic1.png" />
          </div>
          <div class="testimonialSection-quote-item-text">
            <q>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus rerum culpa, totam inventore dolor cumque at hic ut
              eveniet delectus eum natus rem!
            </q>
            <h4>Bosu Mia</h4>
            <span>Lead Speaker</span>
          </div>
        </div>
      </div>
      <div class="testimonialSection-quote-item">
        <div class="testimonialSection-quote-item-wrap">
          <div class="testimonialSection-quote-item-image">
            <img src="images/testimonialSection/pic1.png" />
          </div>
          <div class="testimonialSection-quote-item-text">
            <q>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus rerum culpa, totam inventore dolor cumque at hic ut
              eveniet delectus eum natus rem!
            </q>
            <h4>Bosu Mia</h4>
            <span>Lead Speaker</span>
          </div>
        </div>
      </div>
      <div class="testimonialSection-quote-item">
        <div class="testimonialSection-quote-item-wrap">
          <div class="testimonialSection-quote-item-image">
            <img src="images/testimonialSection/pic1.png" />
          </div>
          <div class="testimonialSection-quote-item-text">
            <q>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus rerum culpa, totam inventore dolor cumque at hic ut
              eveniet delectus eum natus rem!
            </q>
            <h4>Bosu Mia</h4>
            <span>Lead Speaker</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
