<section class="topics">
  <div class="container">
    <div class="topics-title">
      <h4>Top Topics</h4>
      <h2>Conference Topics</h2>
    </div>
    <div class="topics-wrapper">
      <div class="card card-1">
        <h3>
          Clients in Control <br />
          Building Demand Driven <br />
          IT Systems
        </h3>
        <p>
          Dolor sit amet consectetur sed eiusmod tempor incd idunt labore dolore
          magna aliqua enim.
        </p>
        <a href="#">Read more</a>
        <div class="triangle"></div>
      </div>
      <div class="card card-2">
        <h3>
          Clients in Control <br />
          Building Demand Driven <br />
          IT Systems
        </h3>
        <p>
          Dolor sit amet consectetur sed eiusmod tempor incd idunt labore dolore
          magna aliqua enim.
        </p>
        <a href="#">Read more</a>
        <div class="triangle"></div>
      </div>
      <div class="card card-3">
        <h3>
          Clients in Control <br />
          Building Demand Driven <br />
          IT Systems
        </h3>
        <p>
          Dolor sit amet consectetur sed eiusmod tempor incd idunt labore dolore
          magna aliqua enim.
        </p>
        <a href="#">Read more</a>
        <div class="triangle"></div>
      </div>
    </div>
  </div>
</section>
