//site color variables
$body-color: #fff;
$primary-color: #ee6d79;
$secondary-color: rgba(30, 218, 198, 0);
$third-color: #6c67a9;
$text-color: #212639;
$text-color-white: #ffffff;
$text-color-1: #a95cd4;
$text-color-2: #0ba9e3;
$text-color-3: #1edac6;
$text-color-4: #ee6d79;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #f7f9ff;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Rubik", sans-serif;
$secondary-font: "Roboto", sans-serif;
